ion-card{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); 
    ion-card-title{
        color: black;
    }
    size: 10px;
}
img{
    padding-top: 6px;
}
ion-item{
    border-radius: 25px;
    --background: white;
    color: black;
}
image-cropper{
    --cropper-outline-color:rgba(0,0,0,0.642);
    --cropper-overlay-color:transparent;
    
}
@media only screen and (min-width: 600px) {
    .posts{
        padding-left: 15%;
        padding-right: 15%;   
    }
}
